.tags-content
  .up, .down
    ::selection
      background transparent
  .up, .down
    ::-moz-selection
      background transparent

&.uk-form
  ::selection
    background bg-color
  ::-moz-selection
    background bg-color