.uk-form-icon
  input
    &.tm-form-large
      font-size 23px
      font-weight 300
      height 60px !important
      line-height 30px
      +placeholder()
        color #cfcfcf
    &:focus
      background-color rgb(249, 249, 249)!important
      +placeholder()
        color #b5b5b5

  .uk-icon-right
    margin-left -40px
    margin-top -7px
    color #6d6d6d
    font-size 18px

  &.cloud-form-icon
    .uk-icon-at
      margin-top -15px
      margin-left 10px

.uk-form-icon:not(.uk-form-icon-flip)>input
  padding-left 50px!important
  padding-right 45px!important

