.uk-container.uk-container-center
  h1(ng-bind="greeting")

.tags-content
  tags(on-click="clickTag(element)" , on-hover="hoverTag(element)", on-search="searchTag(text)",
    source='loadTags(text)', data="data", limit='20')