doctype html
html(ng-app='d3learningApp')
	head
		title D3Learning
		link(rel='stylesheet' href='css/vendor.min.css')
	body
		nav.uk-navbar
			a.uk-navbar-brand(ui-sref='home') D3Learning
			ul.uk-navbar-nav
				li: a(ui-sref='bars') Bars

		ui-view
		script(src='js/vendor.min.js')
		script(src='js/app.js')

